<% include partials/header %>

<div class="container">
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show alert-homepage" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %> 
    <% if(failure && failure.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show alert-homepage" role="alert">
            <%= failure %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %> 
    <% if(successfullsignup && successfullsignup.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show alert-homepage" role="alert">
            <%= successfullsignup %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %> 
    <% if(successfulllogout && successfulllogout.length > 0) { %>
        <div class="alert alert-warning alert-dismissible fade show alert-homepage" role="alert">
            <%= successfulllogout %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %> 
    <div class="jumbotron">
        <h1>Choose a pet to adopt</h1>
    </div>
    <div class="row">
        <% pets.forEach(function(pet){ %>
            <% if(pet.price==0){ %>
            <div class="col-md-3 col-sm-6 hom-card">
                <div class="card pet-card">
                    <img class="card-img-top" src="<%= pet.imageurl %>">
                    <div class="card-body">
                        <h4 class="card-title"><%= pet.title %></h4>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> Location: <%= pet.location %></p>
                        <% pet.user.forEach(function(theuser){ %>
                            <p class="card-text"><i class="fas fa-user"></i> <%= theuser.username %> </p>
                        <% }); %>
                        <p><i class="fas fa-heart"></i> Adoption</p>
                        <a href="/ads/<%= pet._id %> " class="btn btn-primary stretched-link">More info</a>
                    </div>
                </div>
            </div>
            <% }else{return;} %>
        <% }); %>
    </div>
</div>  

<% include partials/footer %>