<% include partials/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Choose a pet to buy!</h1>
    </div>
    <div class="row"> 
        <% pets.forEach(function(pet){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="<%= pet.imageurl %>">
                    <div class="card-body">
                        <h4 class="card-title"><%= pet.title %></h4>
                        <p class="card-text"><%= pet.discription %></p>
                        <h5 class="card-text">Location: <%= pet.location %></h5>
                        <h4 class="card-title">Rs. <%= pet.price %></h4>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>  
<% include partials/footer %>